// text color
.color-primary-red {
  color: $color-primary-red;
}
.color-primary-darkred {
  color: $color-primary-darkred;
}
.color-primary-black {
  color: $color-primary-black;
}
.color-primary-grey {
  color: $color-primary-grey;
}
.color-secondary-darkgrey {
  color: $color-secondary-darkgrey;
}
.color-background-grey {
  color: $color-background-grey;
}
.color-background-white {
  color: $color-background-white;
}
.color-typography-blond {
  color: $color-typography-blond;
}
.color-typography-black {
  color: $color-typography-black;
}
.color-typography-white {
  color: $color-typography-white;
}

// background color
.bg-color-primary-red {
  background-color: $color-primary-red;
}
.bg-color-primary-darkred {
  background-color: $color-primary-darkred;
}
.bg-color-primary-black {
  background-color: $color-primary-black;
}
.bg-color-primary-grey {
  background-color: $color-primary-grey;
}
.bg-color-secondary-darkgrey {
  background-color: $color-secondary-darkgrey;
}
.bg-color-background-grey {
  background-color: $color-background-grey;
}
.bg-color-background-white {
  background-color: $color-background-white;
}
.bg-color-typography-blond {
  background-color: $color-typography-blond;
}
.bg-color-typography-black {
  background-color: $color-typography-black;
}
.bg-color-typography-white {
  background-color: $color-typography-white;
}

.highlight {
  color: $color-primary-red;

  &:hover {
    color: $color-primary-red;
  }
}
