// normal font set
@mixin font($font: "Poppins") {
  font-family: $font, "PingFang HK", "Microsoft YaHei", "Microsoft JhengHei",
    Arial, Helvetica, sans-serif;
}

// primary heading
@mixin h1() {
  @include font();
  font-size: 3.125rem;
  font-weight: 600;

  // add media to set responsive
  @media (max-width: $lg-max) {
    font-size: 1.75rem;
  }
}

// secondary heading
@mixin h2() {
  @include font();
  font-size: 2.1875rem;
  font-weight: 600;

  // add media to set responsive
  @media (max-width: $lg-max) {
    font-size: 1.75rem;
  }
}

// title
@mixin h3() {
  @include font();
  font-size: 1.625rem;
  font-weight: 600;

  // add media to set responsive
  @media (max-width: $lg-max) {
    font-size: 1.375rem;
  }
}

// sub-title
@mixin h4() {
  @include font();
  font-size: 1.5rem;
  font-weight: 600;

  // add media to set responsive
  @media (max-width: $lg-max) {
    font-size: 1.25rem;
  }
}

@mixin h5() {
  @include font();
  font-size: 1.375rem;
  font-weight: 600;

  // add media to set responsive
  @media (max-width: $lg-max) {
    font-size: 1.125rem;
  }
}

@mixin h6() {
  @include font();
  font-size: 1.2rem;
  font-weight: 600;

  // add media to set responsive
  @media (max-width: $lg-max) {
    font-size: 1.1rem;
  }
}

//
@mixin c1() {
  @include font();
  font-size: 1.125rem;
  font-weight: 400;

  // add media to set responsive
  @media (max-width: $lg-max) {
    font-size: 1rem;
  }
}

//
@mixin c2() {
  @include font();
  font-size: 1rem;
  font-weight: 400;

  // add media to set responsive
  @media (max-width: $lg-max) {
    font-size: 0.875rem;
  }
}

// html
@mixin f-html() {
  font-size: 100%;

  &.font-size-middle {
    font-size: 120%;
  }
  &.font-size-large {
    font-size: 130%;
  }
}

// body
@mixin f-body() {
  @include font();
  font-size: 100%;
  line-height: 1.875;
}

// button
@mixin f-button() {
  @include font();
  font-size: 1.125rem;
  font-weight: 600;

  // add media to set responsive
  @media (max-width: $lg-max) {
    font-size: 1rem;
  }
}
