// example

$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
$xxl-min: 1480px;

$sm-max: $sm-min - 1;
$md-max: $md-min - 1;
$lg-max: $lg-min - 1;
$xl-max: $xl-min - 1;
$xxl-max: $xxl-min - 1;

// container
// breakpoint 1500px
$container-width: 1490px;
// breakpoint 1200px
$container-xl-width: 1140px;
// breakpoint 992px
$container-lg-width: 960px;
// breakpoint 768px
$container-md-width: 720px;
// breakpoint 576px
$container-sm-width: 540px;

// container padding
$container-padding: 25px;

// colors
$color-primary-red: #b50006;
$color-primary-darkred: #870000;
$color-primary-black: #242424;

$color-primary-grey: #e6e6e6;
$color-secondary-darkgrey: #585858;

$color-background-grey: #f5f5f6;
$color-background-white: #ffffff;

$color-typography-blond: #fdeebc;
$color-typography-black: #242424;
$color-typography-white: #ffffff;

$color-table-thead-bg-primary: #585858;
$color-table-tbody-bg-primary: $color-background-white;
$color-table-tbody-bg-secondary: $color-background-grey;
$color-table-border: #d6d6d6;

$color-tab-border: #d6d6d6;

$color-chart-border: #d6d6d6;
$color-chart-border-bold: #a2a1a1;

$color-link: #005999;

$transition-fade: 0.2s ease-in-out;
$transition-slide: 0.3s cubic-bezier(0.85, 0, 0.15, 1);

// spacing
$space-large: 90px;
$space: 60px;
$space-small: 30px;

// header #no change
$header-height: 116px;
$header-slim-height: 96px;
$header-foot-bar-height: 46px;
$header-mobile-height: 50px;

// footer
$footer-height: 120px;
$footer-quick-link-btn-height: 45px;
$footer-quick-link-btn-mobile-height: 70px;

// other heights
$homepage-latest-news-mobile-height: 79px;

// box-shadow
$box-shadow: 2px 4px 12px -4px rgba(0, 0, 0, 0.4);
$box-shadow-story: 4px 4px 6px 0px rgba(0, 0, 0, 0.1);

// z-index
$header-z-index: 999;
$footer-z-index: 1;
$footer-quick-link-z-index: 900;

// pie-chart
$pie-chart-colors: #ea7063, #f1bc31, #e25822, #bb0006, #870000, #085c01, #1ba2a8,
  #005999, #4e0176, #585858;
