.print-only {
  display: none;
}

@media print {
  // global elements
  // @page {
  //   margin: 2mm;
  // }

  .print-only {
    display: block;
  }

  // swiper
  .swiper-wrapper {
    display: block;
  }
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination {
    display: none;
  }

  // components

  // pages
  // homepage
}
