<div class="component-slider js-component-slider">
  <div class="swiper-container js-swiper-container">
    <div class="swiper-wrapper">
      <% data.forEach(slide => { %>
      <div class="swiper-slide">
        <p>name: <%= slide.name %></p>
        <p>content: <%= slide.content %></p>
      </div>
      <% }) %>
    </div>
  </div>
</div>
