---
title: Components Document
bodyClass: components
---

<style>
  /* !components page used only */
  header {
    display: none;
  }

  main {
    margin-top: 0;
  }

  .component-title-link {
    position: relative;
    cursor: pointer;
    color: #242424;
    display: block;
  }

  .component-title-link:before {
    content: "#";
    display: inline-block;
    color: #007bff;
    margin-right: 0.5rem;
  }

  /* !components page used only */
</style>

<div class="page-section-content">
  <div class="container">
    <a href="./index.html">Index</a>
    <h1 class="display-4">Component Document</h1>
    <hr />

    <h4>Data Handling</h4>
    <p>
      <code>data.menu[0].name</code>
      <!--  -->
      <%- data.menu[0].name %>
    </p>

    <!-- <hr />

    <h4>Typography</h4>
    <p>
      <h1>h1</h1>
      <p>body</p>
    </p> -->

    <hr />

    <!-- Slider -->
    <a
      id="Slider"
      href="#Slider"
      class="component-title-link h2 lead font-weight-light"
    >
      Slider
    </a>

    <code>#code start</code>
    <!-- code start -->
    <!--  -->
    <%- include('../components/sliders/slider', {data: data.slider}) %>
    <!-- code end -->
    <code>#code end</code>
    <!-- Button Card -->

    <hr />

    <!-- TODO: Delete below components and create your own -->

    <!-- Red Card -->
    <a
      id="Red Card"
      href="#Red Card"
      class="component-title-link h2 lead font-weight-light"
      >Red Card</a
    >

    <code>#code start</code>
    <!-- code start -->
    <%# include('../components/cards/red-card') %>
    <!-- code end -->
    <code>#code end</code>
    <!-- Red Card -->

    <hr />

    <!-- Tab Card -->
    <a
      id="Tab Card"
      href="#Tab Card"
      class="component-title-link h2 lead font-weight-light"
      >Tab Card</a
    >

    <code>#code start</code>
    <!-- code start -->
    <%# include('../components/cards/tab-card') %>
    <!-- code end -->
    <code>#code end</code>
    <!-- Tab Card -->

    <hr />

    <!-- Tab Card Slim -->
    <a
      id="Tab Card Slim"
      href="#Tab Card Slim"
      class="component-title-link h2 lead font-weight-light"
      >Tab Card Slim</a
    >

    <code>#code start</code>
    <!-- code start -->
    <%# include('../components/cards/tab-card-slim') %>
    <!-- code end -->
    <code>#code end</code>
    <!-- Tab Card Slim -->

    <hr />

    <!-- Form - Input -->
    <a
      id="Form - Input"
      href="#Form - Input"
      class="component-title-link h2 lead font-weight-light"
      >Form - Input</a
    >

    <code>#code start</code>
    <!-- code start -->
    <%# include('../components/form/input') %>
    <!-- code end -->
    <code>#code end</code>
    <!-- Form - Input -->
  </div>
</div>

<script>
  // !component page used only
  $(".component-title-link").click(function () {
    let str = $(this).text();

    const el = document.createElement("textarea");
    el.value = str;
    document.body.appendChild(el);
    el.select();
    document.execCommand("copy");
    document.body.removeChild(el);

    console.log("copied", str);
  });
  // !component page used only
</script>
